@import '../../variables';

.text {
  margin-left: -25px;
  font-family: serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  transform-origin: center center;
  animation: showText 0.5s ease forwards 0.8s;

  &-title {
    font-size: 21px;
    margin-bottom: 10px;

    span {
      text-shadow: 0 0 5px $accent;
      margin: 0 5px;
    }
  }
}

@keyframes showText {
  to {
    transform: scale(1);
  }
}
